<%- include('navbar') %>
<div class="container-fluid">
  <br />
  <br />
  <div class="row editanimal">
    <div class="col m-5">
      <form
        action="/animal/editAnimal/<%- result[0].animal_id %>/<%- result[0].trainer_id %>"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          class="form-control form-control-lg my-3"
          type="text"
          placeholder="Nombre"
          aria-label=".form-control-lg example"
          name="animal_name"
          required
          value="<%- result[0].animal_name %>"
        />

        <input
          class="form-control form-control-lg my-3"
          type="text"
          placeholder="Descripción"
          aria-label=".form-control-lg example"
          name="description"
          required
          value="<%- result[0].description %>"
        />

        <div class="my-3">
          <label for="formFileLg" class="form-label"
            >Introduce una nueva imagen</label
          >
          <input
            class="form-control form-control-lg"
            id="formFileLg"
            type="file"
            name="img"
          />
        </div>
        <button type="submit" class="btn btn-primary mb-3">Guardar</button>
      </form>
      <br /><br />
    </div>
  </div>
</div>
<%- include('footer') %>
